body{
    background: #000;
    font-family: 'Poppins' , sans-serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
    overflow-x:hidden;
}

.container{
    max-width: 1173px;
    margin: 0 auto;
    padding: 0
}

p{
 color: #fff;
font-weight: 400px;
font-size: 12px;
line-height: 18px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
 
  
 